{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1337 Cheats</title>
</head>
<body>
    <h1>1337 Cheats</h1>
    <h5>Taking coders from zero to hero.</h5>
    <a type="submit" class="btn btn-dark" >View cheatsheets</a>
    
    <a type="submit" class="btn btn-dark" href="{% url 'login' %}">Log In</a>
    <a type="submit" class="btn btn-dark" href="{% url 'signup' %}">Sign Up</a>
    <p>
        Hello we are ABC. 3 coders making an application blah bvlah  lash abla 
    </p>
</body>
</html>

{% endblock %}