{% extends 'base.html' %}
{% block content %}


<h1>Favorites List</h1>
<!-- Look through Favorites object -->
{% for favorite in favorites %}
    <!-- if favorite's user equals user logged in -->
    {% if favorite.user == request.user %}
        <!-- Search through cheatsheet object -->
        <!-- if cheatsheet.title == favorite.cheatsheet -->
        {% for cheatsheet in cheatsheets %}
            {% if favorite.cheatsheet.title == cheatsheet.title %}
                <div class="card">
                    <div class="card-header">
                        <span> {{ cheatsheet.title }}</span>
                    </div>
                    <div class="card-body">
                        {{cheatsheet.topic}}
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'favorites_delete' favorite.id %}">Delete Favorite</a> 
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}


{% endblock %}