@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bangers&family=Press+Start+2P&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	text-align: center;
}

h1 {
	font-size: 35px;
	font-family: 'Press Start 2P', cursive;
}
