{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/cheatsheets/detail.css' %}">
  <title></title>
</head>
<body>
  <div class="container">
    <h1 class="title">{{ cheatsheet.title }}</h1>
    <div class="row">
        <div class="col s6">
          <div class="card">
            <div class="card-content">
              <p>Topic: {{ cheatsheet.topic }}</p>
            </div>
            {% for photo in cheatsheet.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
            <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
            {% if cheatsheet.user == request.user %}
            <form action="{% url 'add_photo' cheatsheet.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn btn-success up_photo_btn" value="Upload Photo">
            </form>
            {% endif %}
            <div>
              <a class="btn btn-success add_fav_btn" href="{% url 'add_favorite' cheatsheet.id %}">Add Favorite</a>
            </div>
            
            <div class="card-footer">
              Created by {{ cheatsheet.user }}
              {% if cheatsheet.user == request.user %}
              <div class="card-action">
                <a href="{% url 'cheatsheets_update' cheatsheet.id %}" >Edit</a>
                <a href="{% url 'cheatsheets_delete' cheatsheet.id %}">Delete</a> 
              </div>
              {% endif %}

            </div>
          </div>
        </div>
    </div>
    
    <div class="col s6">
      <h1 class="review_title">Reviews</h1>
      <form action="{% url 'add_review' cheatsheet.id %}" method="POST">
        {% csrf_token %}
        {{ review_form.as_p }}
        <input type="submit" class="btn" value="Add Review">
      </form>
      <br>
      <!-- Show Reviews -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
          </tr>
        </thead>
    
        <tbody>
          {% for review in cheatsheet.review_set.all %}
            <tr>
              <td>{{review.user}}</td>
              <td>{{review.date}}</td>
              <td>{{review.comment}}</td>
              <td>
                <a href="{% url 'reviews_update' review.id %}">Edit</a>
                <a href="{% url 'reviews_delete' review.id %}">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
  
</body>
</html>
{% endblock %}