{% extends 'base.html' %}
{% block content %}

<h1>All Cheatsheets</h1>

{% for cheatsheet in cheatsheets %}
<a href="{% url 'cheatsheets_detail' cheatsheet.id %}">
    <div class="card">
        <div class="card-header"><span class="card-title">{{ cheatsheet.title }}</span></div>
        <div class="card-content">
            
            <p> {{ cheatsheet.topic }}</p>
            {% for photo in photos %}
            {% if photo.cheatsheet.id == cheatsheet.id %}
            <img src="{{photo.url}}"> </img>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</a>

{% endfor %}

{% endblock %}